nav ul li a{
    color: white;
}
.main{
    
    border-radius: 10px;
    
    
}
.nav{
    background-color:lightblue;
    width: 100%;
    border-radius: 5px;
    color: white;
}

.sidebar{
    margin-top: 1px;
    border-radius: 10px;
    margin-right: 0px;
    background-color:  white;
    border: solid gray 1px; 
}
.main-sidebar{
    list-style-type:none;
}
.sidebar .main-sidebar li .btn:hover{
    background-color: lightblue;
    width: 105%;
    text-align: center;
    margin-left: -20px;
    font-weight: bold;
    color: blue;
}
.main-content{
    background-color: whitesmoke;
}
.sidebar ul li #dashboard{
 margin-top: 20px;
 width: 140px;
 margin-left: 0%;
 margin-right: 10px;
 font-weight: bold;
 
}



footer{
    color: white;
    background-color: red;
    height: 80px;
    margin-bottom: 10px;

}